*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    position: relative;
}
/* Chat circle styling */
.lost-circle{
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.589);
}
.lost-circle img{
    width: 4.5rem;
    height: 4.5rem;
}

/* navigation bar */
.navbar{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    justify-content: space-between;
    
}
/* slack icon */
.img{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
    cursor: pointer;
}

.img-home{
    display: none;
}
.navbar nav {
    display: flex;
    float: right;
    margin-top: 4vh;
    margin-right: 100px;
}
.navbar nav ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    margin: 20px;  
}
.navbar nav ul :hover{
    color: rgb(86, 143, 218);
}
li:hover{
    cursor: pointer;
}

 /* both upper and lower */
section{
    width: 100%;
    height: 100vh;
}
.container{
    height: 100vh;
    margin: 2rem;
}
.container h1{
    font-size: 3.5rem;
    color: #ffff;
    margin-top: 14rem;
    text-align: left;
    text-shadow: black;
}
.container p{
    color: white;
    margin-top: 2.5rem;
    text-align: left;
}
.btn {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 0.7rem 0.9rem ;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    background-color: rgb(255, 0, 0);
    margin: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn:hover{
    border: 1px solid white;
    background-color: transparent;
    
}
/* Bottom rows or columns */
.row{
    display: flex;
    flex-direction: row;
}
.row1, .row2, .row3{
    width: 40%vh;
    height: 85vh;
    margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    text-align: center;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}
hr{
    width: 8rem;
    color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(255, 255, 255);
    background-color: #ffff;
}
.row1 h1, .row2 h1, .row3 h1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    color: #ffff;
}
.row1 p, .row2 p, .row3 p{
    margin-top: 1rem;
    color: #ffff;
}
.row1{
    background-color: rgb(255, 40, 40);
}
.row2{
    background-color: rgb(60, 107, 85);
}
.row3{
    background-color: rgb(39, 189, 169);
}

/* Beginning of responsive ness */

@media only screen and (max-width: 600px){
    body{
        background-size: cover;
        width: 100hw;
        height: 100vh;
        background-position:center;
    }
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0rem;
    }
    .navbar nav{
        display: none;
    }
    .container h1{
        font-size: 3rem;
        font-weight: 700;
        color: rgb(255, 255, 255);
        margin-top: 5rem;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow: rgb(0, 0, 0);
        align-items: center;
        justify-content: center;
    }
    .container p{
        text-align: center;
        justify-content: center;
        color: white;
    }
    .container li{
        justify-content: center;
        align-items: center;

    }
    .container{
        position: absolute;
        margin: 0;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;

    }
    .container .btn{
        position: absolute;
        left: 30%;
    }
    .img-home{
        position: absolute;
        right: 0;
        top: 1.2rem;
        width: 4rem;
        height: 4rem;
        margin-right: 0;
        cursor: pointer;
        display: block;
    }
.row{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200vh;
}
.row1, .row2, .row3{
    height: 50vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}